# Godot
sim/godot/.godot/
sim/godot/*.import
sim/godot/export_presets.cfg
sim/godot/.editorconfig

# PlatformIO
firmware/.pio/
firmware/.vscode/

# Python
__pycache__/
*.pyc
.venv/

# OS
Thumbs.db
.DS_Store

# ROS 2 workspace (build inside WSL, sources only in git)
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
